body {color: #555;
margin:0;}
#header {background-color: #1abc9c;
height: 100px;}

h1 {color: white;
font:georgia;
text-align:center;}

#content 
p {text-align:center;}
h2 {text-align: center;}
h3 {text-align:left;}


#footer {background-color: #2f2f2f;
padding:10px; 
color: white;}
a {color: #1abc9c;}
h4 {text-align:right;}
p{ text-align: right;}